body {
   margin: 0px;
   font-family: "Quicksand", sans-serif;
   font-size: 16px;
}

.container {
   display: grid;
   // grid-template-columns: 1fr;

   


   @media (min-width:1221px) {
      .product-items-wrapper {
         grid-template-columns: 1fr 1fr 1fr;
         grid-gap: 20px;
         margin-left: 30px;
         margin-right: 0px;
      }
   }


   @media (max-width:1220px) {
      .product-items-wrapper {
         grid-template-columns: 1fr 1fr;
         grid-gap: 20px;
         margin-left: 30px;
         margin-right: 0px;
      }
   }



   
   @media (max-width:780px) {
      .product-items-wrapper {
         grid-template-columns: 1fr;
         grid-gap: 20px;
         margin-left: 30px;
         margin-right: 30px;
         

      
      }





   }
 

}