body {
   margin: 0px;
   font-family: "Quicksand", sans-serif;
   font-size: 3rem;
}

.container {
   display: grid;
   grid-template-columns: 1fr;


   @media (max-width: 48em) {
      .product-items-wrapper {
         display: grid;
         grid-template-columns: 1fr;
      }
   }

}