body {
   margin: 0px;
   font-family: "Quicksand", sans-serif;
   font-size: clamp(2em, 5vw, 5em);
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   box-sizing: border-box;


}


h3, h4, p  {
   font-size: 1em;
}
// .container {
//    min-height: 100vh;
//    width: 100%;
//    margin: 0 auto;

//    display: grid;
//    grid-template-columns:
//       repeat(auto-fit, minmax(min(350px, 100%), 3fr));

// 

   .container-wrapper {
      align-items: center;
      justify-content: center;
      width: 100%;



      @media (min-width:1221px) {
         .product-items-wrapper {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            margin-left: 30px;
            margin-right: 0px;
         }
      }


      @media (max-width:1220px) {
         .product-items-wrapper {
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            margin-left: 30px;
            margin-right: 0px;
         }
      }

      .nav-wrapper {
         display: flex;
      }



      @media (max-width:780px) {
         .product-items-wrapper {
            width: 50%;
            display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            grid-template-columns: repeat(1, 0fr);
            grid-row-gap: 20px;
            justify-content: center;
            justify-items: center;
            grid-gap: 100px;
            grid-column-gap: 75px;

            img {
               height: auto;
               width: 100%;
            }

            .info-cart {
               display: flex;
               align-items: stretch;
            }



         }


      }

   }




// * {
//    margin: 0px;
//    box-sizing: border-box;


// }
//    .title {
//       font-size: clamp(2em, 5vw, 5em);
//       margin-bottom: .5em;

//    }

//    p {
//       font-size: calc(1.2vw + .7em);
//    }






//    .container-wrapper {
//       min-height: 100vh;
//       width: 80%;
//       margin: 0 auto;

//       display: grid;
//       grid-template-columns:
//          repeat(auto-fit, minmax(min(350px, 100%), 1fr));

//    }

// .container-images {
//    width: 100%;
//    height: 100%;
//    object-fit: cover;
// }