.cart-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10%;
    padding-top: 20px;
    background-color: rgb(228, 228, 228);
    align-items: center;
    max-width: 90%;
    border-radius: 5px;
    height: 150px;



    img {
        display: flex;
        height: 80%;
        width: 100%;
        width: auto;
        text-align: center;
        border-radius: 3px;
    }


    .counter-button {
        
        cursor: pointer;
    }

    .counter-button:hover {
        color: $yellow;
        font-weight: bold;
    }

    .cart-button-delete span {
        cursor: pointer;
    }


    .cart-button-delete span:hover {
        color: $yellow;
        font-weight: bold;
    }

    .bounce-top {
        display: flex;
        align-items: center;
        justify-content: center;
    }



}