
.cart-total {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        grid-row-gap: 20px;
        justify-content: center;
        justify-items: center;
        grid-column-gap: 75px;
        background-color: $silver;
}