.cart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10%;
    background-color: $orange;
    align-items: center;
    max-width: 90%;
    border-radius: 5px;

    img {
        height: 150px;
        margin: 30px;
        width: 150px;
        text-align: center;
        border-radius: 3px;
    }

    .cart-total {



        h3 {
            text-align: center;
            background-color: greenyellow;
            width: 200px;
            height: 200px;
        }
    }


    .cart-message {
        text-align: center;
        margin: 40px;
    }


    .counter-button {
        cursor: pointer;
    }

    .counter-button:hover {
        color: greenyellow;
        // font-size: .5em;
        font-weight: bold;
    }

    .cart-button-delete span {
        cursor: pointer;
    }


    .cart-button-delete span:hover {
        color: greenyellow;
        // font-size: .9em;
        font-weight: bold;
    }

    .material-symbols-outlined button-totalspan {


        height: 20px;
        width: 20px;
        border-radius: 999px;
        top: 0;
        background-color: rgb(72, 255, 0);


    }


}