.wrapper-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // background-color: $orange;
    align-items: center;
    max-width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10%;
    height: 80vh;


    .login-form {
        margin: 5%;
        box-shadow: 0px 0px 10px rgb(147, 147, 147);
        width: 400px;
        height: auto;
        background-color: $orange;


        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto;
            width: 100%;
            padding: 0 20px;
            border-radius: 2px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            height: 450px;

            h4 {
                text-align: center;
                font-family: 'shonen punk v2', sans-serif;
            }




        }

        label {
            font-weight: bold;
            text-align: center;
            font-family:  sans-serif;


        }


        .textInput {
            height: 30px;
            margin-bottom: 10px;
            margin-top: 10px;
            outline: none;
            text-align: center;
            border-radius: 2rem;
            border: none;
            



        }

        .button {
            width: 100%;
            padding: 8px 2em;
            cursor: pointer;
            border-radius: 2rem;
            border: none;
            font-family: 'shonen punk v2', sans-serif;

        }




        .button:hover {
            background-color: $yellow;
        }
    }
}