.wrapper-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-form {
        margin: 100px;


        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 50vh;
            width: 150%;
            background-color: $orange;
            padding: 0 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

            h3 {
                text-align: center;
            }




        }

        label {
            font-weight: bold;
            margin-bottom: 27px;
            text-align: center;
        }


        .textInput {
            height: 30px;
            margin-bottom: 10px;
            outline: none;
        }

        .button {
            width: 100%;
            padding: 8px 30px;
            margin-bottom: 20px;
        }


    }

    .wrapper-form .login-form .button:hover {
        background-color: rgb(134, 205, 3);
    }

}