@mixin mix-btn {
    width: 180px;
    height: 80px;
    border-radius: 20%;
    background-color: $orange;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    border: none;
    outline: none;
  }