@mixin mix-btn {
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
  height: 80px;
  background-color: $orange;
  margin-bottom: 10px;
  font-size: 2rem;
  padding-top: 10px;

}