.nav-wrapper {
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 10px;

    height: 15vh;
    background-color: $orange;
    font-weight: 900;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(147, 147, 147);
    font-family: 'shonen punk v2', sans-serif;

    .left-side {
        display: flex;
        align-items: center;


        .jordan-logo img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: auto;
            margin-top: auto;
        }

    }





    .right-side {

        display: flex;





        .nav-link-wrapper {
            height: auto;
            margin-right: 40px;
            text-transform: uppercase;
            text-align: center;
            margin-top: 24px;

            .car-number span {
                position: relative;
                top: -45px;
                left: 49px;
                height: 20px;
                width: 20px;
                border-radius: 999px;
                // background-color: blue;
                margin-bottom: 100px;
                font-size: 1em;
                color: $yellow;
                font-family: 'arial', sans-serif;
                margin: 10px;
            }


            a {
                color: $darkgray;
                text-decoration: none;

                &:hover {
                    color: black;
                }
            }



            .nav-link-active {
                border-bottom: none;
                color: $yellow;
            }


        }

    }

}