.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 30px;
    background-color: $orange;
    font-weight: 900;
    box-shadow: 0px 0px 20px rgb(147, 147, 147);

    .left-side {
        display: flex;


        .jordan-logo img {
            height: 60px;
            width: 90px;
            margin-top: -20px;
        }

    }


    .right-side {
        display: flex;
    }

    .nav-link-wrapper {
        height: 22px;
        border-bottom: 1px solid transparent;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 1.5rem;



        a {
            color: $darkgray;
            text-decoration: none;

            &:hover {
                color: black;
            }
        }

        &:hover {
            border-bottom: 1px solid transparent;
        }


        .nav-link-active {
            border-bottom: none;
            color: rgb(162, 255, 62);
        }
    }

}