.product-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;


    .product-item-wrapper {
        display: grid;
        position: relative;
        padding: 10px; 
        margin: 20px;
        // background-color: rgb(191, 191, 191);


        .info-cart{
            display: flex;
            justify-content: space-between;

        }
    }
}