.product-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;


    .product-item-wrapper {
        display: grid;
        position: relative;
        padding: 10px;
        margin: 20px;
        // background-color: rgb(191, 191, 191);


        img {
            max-width: 300px;
            height: auto;
        }


        .products-name {
            display: flex;
            padding-left: 100px;
            padding-bottom: 20px;
        }


        .info-cart{
            display: flex;
            width: 150px;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            padding-top: 20px;
            padding: 20px;

        }
    }
}